<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plantilla</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />

    <!-- Styles -->
    <style>
        .contenedor {
            color: #656564;
            display: inline-block;
        }
    </style>

</head>
<body>

<footer>
    <div class="contenedor">
        <p>© 2024 Mi aplicación web. Todos los derechos reservados.</p>
        <p>Desarrollado por Miguel Pérez Posada 2º ASIR</p>
    </div>

</footer>

</body>
</html>
