{% extends "plantilla.html" %}
{% block title %}Acerca del proyecto{% endblock %}
{% block content %}
<h1>Esta es la p&aacute;gina para saber sobre el proyecto</h1>
<p>
    He tenido en cuenta los siguientes criterios:
    <ul>
        <li>Una página de inicio con varias páginas, con su menú y varias subopciones en dos opciones.</li>
        <br>
        <li>En cada página, he usado elementos html, css y bootstrap.</li>
        <br>
        <li>Al no decidir una temática en concreto, he usado mis hobbies como temática principal.</li>
        <br>
        <li>He usado bases de datos, tablas con relación de uno a muchos, gestionando datos de forma que haya mucha información.</li>
        <br>
        <li>He implementado el uso de select dinámicos (Consultar en las tablas).</li>
        <br>
    </ul>
<p>
{% endblock %}